[user]
	name = "Murphy"
	email = "git@murphy-in.space"
[color]
	ui = auto
[push]
    autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = master
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
